<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ATENCIÓN CIUDADANA IST17J</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="../public/css/_all-skins.min.css" />
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo"></div>
        <div class="login-box-body">
            <p class="login-box-msg">
                <img src="../public/img/logoIST17J.jpg" width="225" height="225" />
            </p>
            <p class="login-box-msg">ATENCIÓN CIUDADANA IST17J</p>

            <form method="post" id="frmAcceso">
                <div class="form-group has-feedback">
                    <input type="text" id="logina" name="logina" class="form-control" placeholder="Usuario" required />
                    <span class="fa fa-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" id="clavea" name="clavea" class="form-control" placeholder="Password"
                        required />
                    <span class="fa fa-key form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            Ingresar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/bootbox.min.js"></script>
    <script src="script/login.js"></script>
</body>

</html>